.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height: 200px;
  width: auto;
}

.gallery>.album>img{
  height: 200px;
  width: 200px;
}
.gallery>.album>div{
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.artist_list_accueil, .album_list_accueil, .genre_list_accueil{
  display: flex;
  flex-wrap: nowrap;
  gap:20px;
  margin: 20px;

  overflow-x: auto;
}

.genre_list_accueil>div{
  background-color: green;
  padding-right: 20px;
  padding-left: 20px;

}

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  row-gap: 20px;
  justify-content: space-between;

  margin:30px;
}